li a {
    color: green;
}

body {
    background: white url("images/background.png");
    background-size:     cover;                   
    background-repeat:   no-repeat;
    background-position: center center;
}