# Python
*.pyc
__pycache__/

# Virtual env
venv/
env/

# Django stuff
*.sqlite3
db.sqlite3
/staticfiles/
/polls_proj/staticfiles/
media/
api_data_debug.json

# VSCode or PyCharm
.vscode/
.idea/

# Secrets
.env
